/* =============
    Index
============= */

#index-content{

  color: var(--brown);

  table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  td img{
    width: 100%;
  }

  h2 {
    text-align: center;
  }

  #btmP {
    text-align: center;
    a {
      text-decoration: none;
      color: var(--darkgreen);
    }
    a:hover {
      color: var(--brown);
    }
  }


  #aboutInfo {
    border: 4px solid var(--lightgreen);

    width: 65%;
    margin: auto;
    padding: 8px 32px;
  }

  #topP {
    text-align: center;
  }



}
