/* =============
    Index
============= */

#index-content{
  /*#myCarousel {
    --f-carousel-spacing: 10px;
    --f-carousel-slide-width: 60%;
  }

  #myCarousel .f-carousel__slide {
    padding: 50px;
    background: #eee;
    //text-align: center;
      //img {
      //  width: 80%;
      //  height: 80%;
      //  object-fit: cover;
      //  margin: 0;
      //}
  }*/

}
