/* =============
    Lost & Found
============= */

#localresources-content h1 {
    text-align: center;
}

.lostandfound-container {
    text-align: center;
}

.lostfound-box {
    display: flex; 
    justify-content: center; 
}

.lost-pet,
.found-pet {
    flex: 1; 
    padding: 10px; /* Add spacing around each box */
    box-sizing: border-box; /* Include padding in the width calculation */
    text-align: center; /* Center text within each box */
}

.lost-pet img,
.found-pet img {
    max-width: 100%;
    height: 300px; /* Let the height adjust automatically to maintain aspect ratio */
    display: block; /* Center the image within its container */
    margin: 0 auto; /* Center the image horizontally */
}

.lost-pet a,
.found-pet a {
    display: inline-block;
    margin-top: 10px; /* Add spacing below the paragraphs */
}