/* =============
    Footer
============= */

footer {
  text-align: center;
  color: var(--brown);
  background-color: var(--green);
  padding: 24px;


  #social-icons {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      margin: 0 10px;
      font-size: rem-calc(24);
      color: var(--brown);
      a:link, a:visited {
        color: var(--brown);
      }
      a:hover, a:active {
          color: var(--cream);
      }
    }
  }

  #copy-right {
    font-size: rem-calc(12);
  }

  hr {
    border: 1px solid var(--brown);
    width: 70%;
  }

  .hide-sun{
    display: none;
  }

  .hide-moon{
      display: none;
  }

  .dark-mode-toggle {
    color: var(--brown);
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
  .colorLink {
    img {
      width: 28px;
      height: 32px;
    }
  }
}
