/* =============
    Base
============= */
body {
  background-color: var(--white);
  font-family: 'Roboto Serif', serif;
  color: var(--brown);

  h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
  }

  h2 {
    font-family: 'Merriweather', serif;
  }

  #main-content-grid {
    padding: 0 16px;
  }

}

.content-grid {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". content .";

  @include xl {
    grid-template-columns: auto 1200px auto;
  }

  .content-grid-item {
    grid-area: content;
    background-color: var(--cream);
    padding-top: 128px;
    //position:absolute ;
    //top: 128px;
  }

}
